name: _gotest

on:
  workflow_call:

jobs:
  gotest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: make test-ci
      - run: mkdir ga_artifacts && cp gocov.html ga_artifacts/ && cp gocovfunc.txt ga_artifacts/
      - uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: ga_artifacts
      - name: check coverage
        run: sh fail-if-coverage-unsatisfied.sh 80
