name: on_release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  gobuild:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { GOOS: linux,  GOARCH: amd64 }
          - { GOOS: darwin, GOARCH: arm64 }
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: GOOS=${{ matrix.GOOS }} GOARCH=${{ matrix.GOARCH }} make build
      - run: cd dist/prd/${{ matrix.GOOS }}/${{ matrix.GOARCH }} && tar czvf tools-${{ matrix.GOOS }}-${{ matrix.GOARCH }}.tar.gz *
      - run: gh release upload ${{github.event.release.tag_name}} dist/prd/${{ matrix.GOOS }}/${{ matrix.GOARCH }}/tools-${{ matrix.GOOS }}-${{ matrix.GOARCH }}.tar.gz
        env:
          GH_TOKEN: ${{ github.token }}
